@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Poppins-Thin';
  src: url('./Assets/Font/Poppins-Thin.ttf');
}

#Thin{
  font-family: 'Poppins-Thin', sans-serif;
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url('./Assets/Font/Poppins-Bold.ttf');
}

#Bold{
  font-family: 'Poppins-Bold', sans-serif;
}

@font-face {
  font-family: 'Poppins-Light';
  src: url('./Assets/Font/Poppins-Light.ttf');
}

#Light{
  font-family: 'Poppins-Light', sans-serif;
}

@font-face {
  font-family: 'Poppins-ExtraLight';
  src: url('./Assets/Font/Poppins-ExtraLight.ttf');
}

#ExtraLight{
  font-family: 'Poppins-ExtraLight', sans-serif;
}

@font-face {
  font-family: 'Poppins-Medium';
  src: url('./Assets/Font/Poppins-Medium.ttf');
}

#Medium{
  font-family: 'Poppins-Medium', sans-serif;
}

@font-face {
  font-family: 'Poppins-SemiBold';
  src: url('./Assets/Font/Poppins-SemiBold.ttf');
}

#SemiBold{
  font-family: 'Poppins-SemiBold', sans-serif;
}